<div class="cart-detail-section">
    <div class="row">
        <h3>CART DETAILS</h3>
        <div *ngIf="cartItems.length === 0" class="alert alert-warning col-md-12 not-found">You have not purchased
            anything yet! :(</div>
        <div class="summary card" *ngIf="cartItems.length > 0">
            <div class="card-body">
                <p>Cart Total: {{totalPrice | currency: 'USD'}} </p>
                <p>Total Quantity: {{totalQuantity}}</p>
                <p class="primary" *ngIf="totalPrice > 40">Shipping: FREE</p>
                <p *ngIf="totalPrice <= 40">Shipping: $20 Free shipping for above $40</p>
                <button class="btn btn-primary btn-md" routerLink="/checkout">Checkout</button>
            </div>
        </div>
        <br>

        <table class="table" *ngIf="cartItems.length > 0">
            <thead class="table-dark">
                <tr>
                    <th class="col">Image</th>
                    <th class="col">Item</th>
                    <th class="col">Quantity</th>
                    <th class="col">Unit Price</th>
                    <th class="col">Sub-Total</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <td> <img src="{{ item.imageUrl}}" alt="image" width="80px"> </td>
                    <td> {{item.name}} </td>
                    <td>
                        <div class="row no-gutters">
                            <div class="col">
                                <button class="btn btn-success btn-sm" (click)="incrementQuantity(item)"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                            <div class="col">
                                {{item.quantity}}
                            </div>
                            <div class="col">
                                <button class="btn btn-danger btn-sm" (click)="decrementQuantity(item)"><i
                                        class="fas fa-minus"></i></button>
                            </div>
                        </div>

                    </td>

                    <!-- <td> <button class="btn btn-success btn-sm increment" (click)="incrementQuantity(item)">+</button>{{item.quantity}}<button class="btn btn-danger btn-sm decrement" (click)="decrementQuantity(item)">-</button> </td> -->
                    <td> {{item.unitPrice}} </td>
                    <td> {{item.unitPrice * item.quantity | currency: 'USD'}} </td>
                    <td>
                        <div class="row no-gutters">
                            <div class="col">
                                <button class="btn btn-danger btn-sm" (click)="removeQuantity(item)">Remove
                                    Item</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/products">Go to products</a>
    </div>
</div>
